<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>psemailvalidation</name>
    <displayName><![CDATA[Activate account by email]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Users must verify their email to access their account. Upon activation, they are fully logged in, their cart is restored, and they are redirected to checkout.]]></description>
    <author><![CDATA[Guille Garay]]></author>
    <tab><![CDATA[administration]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
</module>